/* 全局設定 */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 108, 223);
    padding: 10px 20px;
    color: white;
    height: 70px;
}

/*Navbar left side*/
.nav-left {
    margin-right: 150px;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 12px;
    height: 42px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


/*Navbar right side*/
.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-right input {
    padding: 5px;
    border: 1px white solid;
    outline: none;
    background-color: rgb(64, 140, 241);
    border-radius: 3px;
    height: 30px;
    margin-right: 10px;
}

.nav-right input::placeholder {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.nav-right .searchBtn {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 124px;
    top: 50%; /*將元素的頂部定位到其父容器高度的 50% 處。*/
    transform: translateY(-50%); /*將元素向上移動其自身高度的 50%，從而實現垂直居中。*/
}

.nav-right .searchBtn i {
    color: white;
    font-size: 16px;
}

.sign-in {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
}

.sign-in i {
    margin: 0 5px;
}

/* Error Box */
.error-box {
    display: inline-block;
    background: rgb(2, 108, 223);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background: #c82333;
}

